.badge {
  border-radius: 100%;
  padding: 1px 6px 1px 6px;
  background-color: purple;
}

.li-notifications:hover {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  color: black;
}
